.container {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

Link {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  text-decoration: none;
}

.options-title {
  padding: 20px;
}