.my-form {
  text-align: left;
}

.form-line {
  margin-bottom: 15px;
}

.btn {
  background-color: #DA0629 !important;
  color: white !important;
}

.btn:hover {
  background-color: rgb(122, 2, 22) !important;
}

textarea:focus {
  border-color: #f87b7b !important; /* Cor da borda quando em foco */
  box-shadow: 0 0 5px #e42121 !important;
}

select:focus {
  border-color: #f87b7b !important; /* Cor da borda quando em foco */
  box-shadow: 0 0 5px #e42121 !important;
}