.header {
  background-color: #DA0629; /* Red background color */
  color: white; /* White text color */
}

.navbar {
  background-color: transparent !important; /* Remove Bootstrap's default background color */
}

.navbar a {
  color: white !important; /* White text color for links */
  font-size: 18px; /* Adjust font size */
  margin: 0 10px; /* Add spacing between links */
}

.navbar a:hover {
  text-decoration: underline;
}
