.my-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size:xx-large;
}

.my-box {
  width: 350px;
  text-align: left;
  background-color: #ffc0c0;
  border-radius: 10px; /* Define cantos arredondados */
  /* border: 2px solid #f87b7b; Define a borda com uma cor suave */
  box-shadow: 5px 5px 10px #e45e5e4d; /* Adiciona sombra suave */
  padding: 20px;/* Adiciona algum espaçamento interno para o conteúdo */
  margin: 10px;
}

.label-cont {
  color: #252525;
  font-size: medium;
}

.my-input {
  background-color: #fcf6f7;
  color: #252525;
  margin-top: 3px;
  margin-bottom: 15px;
  border: 2px solid #eda6a6; /* Define a borda com uma cor suave */
  border-radius: 5px;
  width: 100%;
  padding: 6px;
}

input:focus {
  border-color: #f87b7b !important; /* Cor da borda quando em foco */
  box-shadow: 0 0 5px #e42121 !important;
}

input:focus-visible {
  outline: 0px;
}

.btn-sign-in {
  background-color: #DA0629;
  display: block; /* Ocupa toda a largura do contêiner */
  width: 100%; /* Largura de 100% */
  color: #ffffff;
  margin-top: 5px;
  border: none; /* Sem borda */
  border-radius: 5px; /* Cantos arredondados */
  padding: 7px 0; /* Espaçamento interno */
  cursor: pointer; /* Mostra o cursor de mão ao passar o mouse */
  transition: background-color 0.3s; /* Efeito de transição suave para a cor de fundo */
}

.btn-sign-in:hover {
  background-color: #810e21;
}
