.container {
  padding: 20px;
}

h2 {
  font-size: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white; 
}

table, th, td {
  border: 1px;
}

th, td {
  padding: 10px;
}

th {
  background-color: #DA0629;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black;
}

tr:hover {
  background-color: #c8c3c1;
}
